# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea/
.fleet/
rebel.xml

target/
spring-cloud-data-flow2
data-flow-server.jar
uaa.war

*.DS_Store

.settings
.project
.classpath

.terraform
.terraform.lock.hcl
terraform.tfstate*
/python/src/main/python/covid-19-Guangdong/covid-19-Guangdong.mp4
